*{
    font-family: Arial;
}



body{
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:lightblue;
    margin-bottom: 15px;
    margin-left: 100px;
}
.header img { 
    width: 80px;
    height: auto;
    margin-left: 15px;
}

.navigation a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}   




.header-banner {
    text-align: center;
    padding: 0;
    background: url(facebook_1718256401207_7206889696612229761.jpg) no-repeat  center;
    background-size: cover;
    height: 200px;
    margin-bottom: 15px;
    margin-left: 100px;

}
.intro-text {
    text-align: center;
    padding: 20px;
    background-color: beige;
    margin-bottom: 15px;
    margin-left: 150px;
    font-size: 30px;
    margin-left: 100px;

}

.intro-text1 {
    text-align: center;
    padding: 20px;
    background-color: beige;
    margin-bottom: 15px;
    margin-left: 150px;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 100px;

}
.boxes {
    display: flex;
    margin-left: 100px;

}

.boxes1 {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    margin-left: 100px;

}
.box {
    width: 32%;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.box img {
    width: 100%;
    height: auto;
}
.footer {
    margin-top: 15px;
    text-align: center;
    padding: 20px;
    background-color: #111;
    font-weight: lighter;
    margin-left: 100px;
    color: #f1f1f1;
    
}

.sidenav {
    height: 100%; 
    width: 125px; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: #111; 
    align-items: center;
  }
  

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    left: 50px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  